<html>
  <head>
    <title>Wellesley Fresher</title>
  </head>
  <body>
    <div>Wellesley Fresher:
    <a href="/index">Home</a> | 
    {% for hall in halls %} 
    <a href="/hall/{{ hall }}">{{ hall }}</a> | 
    {% endfor %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
